html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	height: 100%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
	font-family: Arial, Helvetica, sans-serif
}

main {
	display: flex;
	gap: 5em;
	justify-content: center;
	align-items: center;
}


legend {
	width: 100%;
	text-align: center;
	padding-bottom: 20px;
	font-size: 50px;
	color: #0000ff;
}

#player1, #player2 {
	font-size: 50px;
	text-align: center;
}

table {
	width: 55vh;
	height: 50vh;
	border: 2px solid #000000;
}

#left-col, #mid-col, #right-col {
	width: 20%;
}

tr {
	height: 20%;
}

td {
	border: 1px solid #000000;
	text-align: center;
	vertical-align: middle;
	font-size: 10vh;
}

#reset-button, #start-button {
	width: 100%;
	height: 80px;
	margin-top: 30px;
	font-size: 50px;
	text-align: center;
	vertical-align: middle;
}

#reset-button {
	display: none;
}

main div:nth-child(1), main div:nth-child(3) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#first-player-name, #second-player-name {
	margin-top: 10px;
	height: 50px;
	width: 250px;
	font-size: 30px;
}

#first-player-name-label, #second-player-name-label {
	font-weight: 700;
	font-size: 20px;
}